<div class="container-lg">
  <div class="row">
    <div class="col">
      <h1>markdownconverter.com</h1>
      <h2>Convert markdown to HTML and back.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="m1()" [ngClass]="{'btn': true, 'btn-primary': mode==1}">markdown to HTML</button>
      <button (click)="m2()" [ngClass]="{'btn': true, 'btn-primary': mode==2}">HTML to markdown</button>
    </div>

  </div>
  <div class="row">
    <div class="col">
      Input:<br />
      <textarea [(ngModel)]="input" style="width:100%;height:100%;"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="convert()">Convert!</button>
    </div>
  </div>
  <div class="row" *ngIf="output">
    <div class="col">
      Output:<br />
      <textarea disabled [innerHtml]="output" style="width:100%;height:100%;"></textarea>
      <br />
      <button class="btn btn-secondary" (click)="copyToClipboard()">Copy to clipboard</button>
    </div>
  </div>
</div>